<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans 
        http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- 声明Dao -->
    <bean id="myUserDao" class="com.bjpowernode.dao.UserDaoMySQLImpl" />
    
    <!-- 声明Service -->
    <bean id="myUserService" class="com.bjpowernode.service.UserServiceImpl">
    	<property name="userDao" ref="myUserDao" />
    </bean>
   
</beans>
